.box1{
    width:800px;
    height: 1400px;
    background-color:skyblue;
    margin: 40px;
    padding: 40px;
}
.box2{
    width:577px;
    height:1200px;
    background-color: yellow;
    margin: 40px;
    margin-right:-2px;
    margin-left: 5px;
    padding: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size:medium;
}
.box3{
    width: 645px;
    height: 900px;
    background-color:white;
    margin-right:20px;
    margin-top: 100px;
    margin-bottom:3px;
    margin-left:-30px;
    
}
.imp{

}